<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.deadmc.devnetworktool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.ConnectionService"
            android:enabled="true"
            android:icon="@drawable/main_icon"
            android:label="@string/connection_service" />

        <meta-data
            android:name="DATABASE"
            android:value="dev_network_tool2.db" />
        <meta-data
            android:name="VERSION"
            android:value="5" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="app.deadmc.devnetworktool" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="45fe84be9ba37942608439d7dd871e621becc622" />

        <activity
            android:name=".activities.MainActivity"
            android:icon="@drawable/main_icon"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FullViewActivity" />
    </application>

</manifest>